body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to top, #00aaff, #004466);
        color: white;
        text-align: center;
        height: 100vh;
        padding-top: 100px;
    }

    input, button {
        padding: 10px;
        margin: 10px;
        font-size: 1em;
        border-radius: 5px;
    }